.login {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    margin: 16px;
  }

  label {
    display: flex;
    margin-bottom: 8px;
  }

  .p-inputtext {
    width: 100%;
  }
}
