.dashboard {
  padding: 20px;
  background: linear-gradient(275deg, #f27121, #e94057, #8a2387);

  .menu {
    display: flex;
    justify-content:space-between;
    align-items: center;

    h2 {
      color: white;
    }
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }

  .p-card {
    margin: 16px;
    width: 250px;
    transition: transform 0.2s;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    &:hover {
      transform: translateY(-5px);
    }

    .p-card-header {
      font-weight: bold;
      font-size: 0.9em;
      height: 75px;
      background: #d172acc9;
      color: white;
      padding: 10px;
      border-radius: 12px 12px 0 0;
    }

    .p-card-body {
      padding: 15px;
      color: white;
      height: 190px;
    }

    .p-card-footer {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      button {
        margin-left: 5px;
        background-color: #d172acc9;
        color: white;
        border: none;
        border-radius: 100%;

        &:hover {
          background-color: #af4cada7;
        }
      }
    }
  }
}
